body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 40px;
}

.graficos{
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 40px;
}

.graficos div{
    width: 40vw;
    height: 40vh;
}